:root{
  --light-blue : #04C3FF;
  --light-blue-shadow:  rgb(69 211 255 / 27%);
  --sea-green: #0ABEAD;
  --sea-green-dark: #0CBFAE;
  --sea-green-extra-dark: #09BEAD;
  --sea-green-shadow: #0bbead66;
  --header-hamburger-background : #0bbeadcc;
  --orange: #F57F17;
  --dark-red: #6a05ad;
  --orange-shadow: #f57f1733;
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message:  #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow:  #9c9c9ce3;
  --toast-success: #0CBFAE;
  --loader-color: #0CBFAE;
  --red: #da1d1dfa;
  --transparent-dark: #1a181a8e;
  --transparent-red: #24FF008e;
  --header-purple: #2b114d;
  --bg-purple: #1A0B2E;
  --card-purple: #693B93;
  --green: #24FF00;
}

.MainContent{
  flex: 1;
  /*Background image com essas cores #000000,#414040 em linear-gradient, da direita para a esquerda*/
  background-image: linear-gradient(to right,#000000, #2c2c2c);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

header{
  background-color: #1f1e1e7c;
}

::-moz-selection { /* Code for Firefox */
  color: #c697f2c2;
  background: #1a1a199f;
}

::selection {
  color: #24FF00c2;
  background: #1a1a199f;
}

@media screen and (max-width: 280px){

  .MainContent{
    background-image: url();
    margin: 0%;
    flex: 1;
    width: 100%;
  }

}