.contact-content{
    font-weight: bold;
    border: none;
}

.btn-send{
    background: var(--transparent-red)/*linear-gradient(rgba(26, 24, 26), rgba(165, 30, 30))*/ ;
    border: none;
}

.btn-send:hover{
    background: rgba(0, 255, 21, 0.979);
    border: none;
}

@media screen and (max-width: 300px){

    .my-email{
        font-size: 12px;
    }
  
}