.item-tec{
    background-color: rgba(196, 25, 25, 0.664);
    width: 100%;
    margin: 2vh;
    border-radius: 15px;
    padding: 2vh;
}

.content-background{
    background-image: linear-gradient(rgba(165, 30, 30, 0.555), rgba(26, 24, 26, 0.555));
    font-weight: bold;
    border: none;
}

.content{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}