.project {
  height: 180px;
  width: 300px;
  object-fit: contain;
  margin-top: 40px;
  margin-left: -32px;
  border-radius: 20%;
}

.card-project .button-right a {
  background-image: linear-gradient(170deg, #320252, #6a05ad);
}

@media screen and (max-width: 800px) {
  .project {
    width: 350px;
    height: 250px;
  }
}

@media screen and (max-width: 300px) {
  .project {
    width: 200px;
    height: 130px;
  }
}
