.item-tec{
    background-color: var(--transparent-red);
    width: 100%;
    margin: 2vh;
    border-radius: 15px;
    padding: 2vh;
}

.content-background2{
    background-image: linear-gradient(var(--transparent-red), var(--transparent-dark));
    font-weight: bold;
    border: none;
}

.content{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}