.contact-content{
    background-image: linear-gradient(rgba(165, 30, 30, 0.555), rgba(26, 24, 26, 0.555));
    font-weight: bold;
    border: none;
}

.btn-send{
    background-image: linear-gradient(rgba(26, 24, 26), rgba(165, 30, 30));
    border: none;
}