.contact-content{
    background-image: linear-gradient(rgba(26, 24, 26, 0.555),rgba(165, 30, 30, 0.555));
    font-weight: bold;
    border: none;
}

.btn-send{
    background: rgba(165, 30, 30, 0.726);
    border: none;
}

.btn-send:hover{
    background: rgba(26, 24, 26, 0.699);
    border: none;
}

@media screen and (max-width: 300px){

    .my-email{
        font-size: 12px;
    }
  
}
